# Node
node_modules/
npm-debug.log*

# Build
dist/
build/

# Environment Variables
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python
venv/
__pycache__/
*.pyc

# Prisma
prisma/dev.db

# Coverage
coverage/

# Misc
.idea/